[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = {editable = true, ref = "main", git = "git+https://github.com/django/django.git"}
dj-database-url = "*"
django-extensions = "*"
django-ckeditor = "*"
waitress = "*"

[dev-packages]

[requires]
python_version = "3.11"

[pipenv]
allow_prereleases = true

[scripts]
app = "python manage.py runserver"
makemigrations = "python manage.py makemigrations"
migrate = "python manage.py migrate"
