[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
dj-database-url = "==2.1.0"
django-extensions = "==3.2.3"
django-ckeditor = "==6.7.0"
waitress = "==2.1.2"
django = "==4.2.7"

[dev-packages]

[requires]
python_version = "3.11"

[scripts]
app = "python manage.py runserver"
makemigrations = "python manage.py makemigrations"
migrate = "python manage.py migrate"
