[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = {editable = true, ref = "main", git = "git+https://github.com/django/django.git"}

[dev-packages]

[requires]
python_version = "3.11"

[pipenv]
allow_prereleases = true
