{% extends "base.html" %} {% block headers %}<title>About me</title>{% endblock
%} {% block content %}

<main role="main" style="padding-bottom: 2.5rem">
  <div>
    <div>
      <h1>About me</h1>
      <p>Something really interesting about me...</p>
    </div>
    <!-- //
        <div>
            <h1>Stepanka Lucinova</h1>
            <h2>Technical Support / Python junior</h2>
            <p>Profile summary</p>
        </div>
        <div>
            <-- // Work Experience --
            <section>
                <h2>Work Experience</h2>
                <h3>Technical Support Specialist</h3>
                <p>Monitora Media s.r.o.</p>
                <p>February 2018 - still working</p>
                <p>Job Summary</p>
            </section>
            <section>
                <h2>Work Experience</h2>
                <h3>Junior Django Developer</h3>
                <p>SparkTECH s.r.o. (Prague, Czech Republic)</p>
                <p>August 2017 - January 2018</p>
                <p>Job Summary</p>
            </section>
            <section>
                <h2>Work Experience</h2>
                <h3>Technical Support Specialist</h3>
                <p>WGCZ s.r.o. (Prague, Czech Republic)</p>
                <p>September 2013 - July 2017</p>
                <p>Job Summary</p>
            </section>
            <section>
                <h2>Work Experience</h2>
                <h3>Bartender, Waitress, Aupair, Receptionist</h3>
                <p>2003 - 2013</p>
                <p>Traveling and working abroad</p>
            </section>
            <section>
                <h2>Work Experience</h2>
                <h3>Administrative Office Assistant</h3>
                <p>BOHEMIA JEWELRY s.r.o. (Prague, Czech Republic)</p>
                <p>2007 - 2009</p>
                <p>Job Summary</p>
            </section>
            <-- // Education --
            <section>
                <h2>Education</h2>
                <h3>Gymnázium Postupická, 2000-2006</h3>
                <p>Summary</p>
            </section>
            <-- // Volunteer Work --
            <section>
                <h2>Volunteer Work Experience</h2>
                <h3>Coach</h3>
                <p>PyLadies CZ</p>
                <p>October 2017 - January 2018</p>
                <p>Job Summary</p>
            </section>
            <section>
                <h2>Volunteer Work Experience</h2>
                <h3>Czech Teacher</h3>
                <p>META, o.s..</p>
                <p>February 2018 - still working</p>
                <p>Job Summary</p>
            </section>
            <section>
                <h2>Volunteer Work Experience</h2>
                <h3>Blind Personal Attendant</h3>
                <p>Okamzik.cz</p>
                <p>February 2009 - September 2009</p>
                <p>Job Summary</p>
            </section>
        </div>
        -->
  </div>
</main>

{% endblock %}
