{% extends "blog_homepage.html" %} {% block headers %}<title>
  PyBlog | article</title
>{% endblock %} {% block content %}
<main role="main" style="padding-bottom: 2.5rem">
  <article itemscope="" itemtype="http://schema.org/Blog">
    <h1 class="entry-title" itemprop="headline">{{ article.title }}</h1>
    <span class="entry-meta">
      <time itemprop="datePublished" datetime="{{ article.created }}"
        >Created on {{ article.created|date:'d M Y' }}&nbsp;&nbsp;&nbsp;</time
      >
      {% if article.modified != article.created %}
      <time itemprop="dateUpdated" datetime="{{ article.modified }}"
        >Updated on {{ article.modified|date:'d M Y' }}</time
      >
      {% endif %}
      <ul class="index_category">
        {% for category in article.categories.all %}
        <li>
          <a href="{% url 'my_site:category' category.slug %}"
            >{{ category.name }}</a
          >
        </li>
        {% endfor %}
      </ul>
      <ul class="index_tag">
        {% for tag in article.tags.all %}
        <li><a href="{% url 'my_site:tag' tag.slug %}">#{{ tag.name }}</a></li>
        {% endfor %}
      </ul>
    </span>
    <section>
      <p>{{ article.content|safe|escape }}</p>
      {% if article.resources.all %}
      <hr />
      <div class="resources">
        <h3>Resources:</h3>
        <ul>
          {% for resource in article.resources.all %}
          <li><a href="{{ resource.url }}">{{ resource.url }}</a></li>
          {% endfor %}
        </ul>
        {% endif %}
      </div>
    </section>
  </article>
</main>
<a href="#top-of-site" class="top-of-site-link" data-visible="true" style="">
  <span class="screen-reader-text">Back to Top</span>
  <svg width="32" height="32" viewBox="0 0 100 100">
    <path
      fill="white"
      d="m50 0c-13.262 0-25.98 5.2695-35.355 14.645s-14.645 22.094-14.645 35.355 5.2695 25.98 14.645 35.355 22.094 14.645 35.355 14.645 25.98-5.2695 35.355-14.645 14.645-22.094 14.645-35.355-5.2695-25.98-14.645-35.355-22.094-14.645-35.355-14.645zm20.832 62.5-20.832-22.457-20.625 22.457c-1.207 0.74219-2.7656 0.57812-3.7891-0.39844-1.0273-0.98047-1.2695-2.5273-0.58594-3.7695l22.918-25c0.60156-0.61328 1.4297-0.96094 2.2891-0.96094 0.86328 0 1.6914 0.34766 2.293 0.96094l22.918 25c0.88672 1.2891 0.6875 3.0352-0.47266 4.0898-1.1562 1.0508-2.9141 1.0859-4.1133 0.078125z"
    ></path>
  </svg>
</a>
{% endblock %}
