{% block footer %}

<footer role="contentinfo">
    <div class="hr"></div>
    <div class="footer-link">
        <a href="mailto:{{ email }}" target="_blank">Email</a>
        {% comment %} <a href="{{ twitter }}" target="_blank">Twitter</a> {% endcomment %}
        <a href="{{ linkedin }}" target="_blank">LinkedIn</a>
        <a href="{{ github }}" target="_blank">GitHub</a>
        {% comment %} <a href="{{ hackerrank }}" target="_blank">HackerRank</a> {% endcomment %}
        {% comment %} <a href="{{ couchsurfing }}" target="_blank">CouchSurfing</a> {% endcomment %}
        <a href="{{ instagram }}" target="_blank">Instagram</a>
    </div>
    <p>Created by tystar 2023</p>
</footer>

{% endblock %}