{% extends 'homepage.html' %}

{% block headers %}

<title>PyBlog | Homepage</title>

{% endblock %}

{% block content %}

{{ block.super }}

<ul>
    {% for post in latest_posts %}
    <article itemscope="" itemtype="http://schema.org/Blog">
        <h2 class="entry-title" itemprop="headline"><a href="/post/{{ post.slug }}">{{ post.title }}</a></h2>
        <span class="entry-meta"><time itemprop="datePublished" datetime="{{ post.created }}">{{ post.created|date:'d M Y' }}</time></span>
    </article>
    {% endfor %}
</ul>

{% endblock %}
