{% extends 'homepage.html' %}

{% block headers %}

<title>PyBlog | Post</title>

{% endblock %}

{% block content %}

<article itemscope="" itemtype="http://schema.org/BlogPosting">
  <h1 class="entry-title" itemprop="headline">{{ post.title }}</h1>
    <span class="entry-meta">
      <time itemprop="datePublished" datetime="{{ post.created }}">Created on {{ post.created|date:'d M Y' }}&nbsp;&nbsp;&nbsp;</time>
      {% if post.updated != post.created %}
        <time itemprop="dateUpdated" datetime="{{ post.updated }}">Updated on {{ post.updated|date:'d M Y' }}</time>
      {% endif %}

      <ul class="index_category">
        {% for category in post.category.all %}
          <li><a href="/category/{{ category.slug }}">{{ category.name }}</a></li>
        {% endfor %}
      </ul>
      <ul class="index_tag">
        {% for tag in post.tag.all %}
          <li><a href="/tag/{{ tag.slug }}">#{{ tag.name }}</a></li>
        {% endfor %}
      </ul>
    </span>

  <section itemprop="entry-text">
    <p>{{ post.content|safe|escape }}</p>
    {% if post.resource.all %}
    <hr>
        <h3>Resources:</h3>
      {% for resource in post.resource.all %}
      <p>➡️<a href="{{ resource.url }}">{{ resource.url }}</a></p>
      {% endfor %}
    {% endif %}
  </section>
</article>

{% endblock %}
