{% extends 'base.html' %}

{% load staticfiles %}

{% load hosts %}

{% block headers %}
<style>
    .flex-container {
        display: flex;
    }
    .picture {
        flex: 0.5;
    }
    .info {
        flex: 6;
    }

</style>

<title>About</title>
{% endblock %}

{% block content %}

<div class="flex-container">
    <div class="container picture">
        <img src="{% static 'images/me_photo.png' %}" style="width:100px;height:100px"; alt="My picture">
    </div>
    <div class="info">
        <p><b>{{ name }} {{ surname }}</b></p>
        <p><b>Email:</b> {{ email }}</p>
        <a href="{{ twitter }}">Twitter</a>
        <a href="{{ linkedin }}">LinkedIn</a>
        <a href="{{ github }}">Github</a>
    </div>
</div>

{% endblock %}
