<!DOCTYPE html>

{% load static %}

{% load hosts %}

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="//fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
  <link rel="stylesheet" href="{% static 'css/skeleton.css' %}">
  <link rel="stylesheet" href="{% static 'css/custom.css' %}">

  {% block headers %}
  {% endblock %}

</head>
<body>

<div class="container">

    <header id="nav" class="hide-nav" role="banner">
        <div class="header-logo">
            <a href="/"><img src="{% static 'images/me_photo.png' %}" width="60" height="60" alt="my photo"></a>
        </div>
        <h1 class="site-title">
          <a href="/"><img src="{% static 'images/me_photo.png' %}" /></a>{{ name }} {{ surname }}
          <span class="toggle"></span>
        </h1>
        <p class="tag-line">Me, myself & python.</p>
        <ul class="nav-links">
            <li><a href="{% host_url 'homepage' host 'www' %}">Home</a></li>
            <li><a href="{% host_url 'about' host 'www' %}">About me</a></li>
            <li><a href="{% host_url 'index' host 'blog' %}">PyBlog</a></li>
        </ul>
    </header>

    <main role="main">
      {% block content %}
      {% endblock %}

    </main>

    <footer role="contentinfo">
        <div class="hr"></div>
        <div class="footer-link">
            <a href="mailto:{{ email }}" target="_blank">Email</a>
            <a href="{{ twitter }}" target="_blank">Twitter</a>
            <a href="{{ linkedin }}" target="_blank">LinkedIn</a>
            <a href="{{ github }}" target="_blank">GitHub</a>

        <p>Created by tystar 2019</p>
    </footer>
</div>

</body>
</html>

