<!DOCTYPE html>

{% load staticfiles %}

{% load hosts %}

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    {% block headers %}
    {% endblock %}

</head>

<body>
    {% block title %}
    {% endblock %}


    <nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
      <a class="navbar-brand" href="{% host_url 'homepage' host 'www' %}">Homepage</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="{% host_url 'about' host 'www' %}">About</a>
          </li>
        </ul>
      </div>
    </nav>

    {% block content %}
    {% endblock %}

</body>

</html>
