{% block footer %}

<footer role="contentinfo">
        <div class="hr"></div>
        <div class="footer-link">
            <a href="mailto:{{ email }}" target="_blank">Email</a>
            <a href="{{ twitter }}" target="_blank">Twitter</a>
            <a href="{{ linkedin }}" target="_blank">LinkedIn</a>
            <a href="{{ github }}" target="_blank">GitHub</a>
            <a href="{{ hackerrank }}" target="_blank">HackerRank</a>
            <a href="{{ couchsurfing }}" target="_blank">CouchSurfing</a>
            <a href="{{ instagram }}" target="_blank">Instagram</a>
        <br>
        <br>
        <p>Created by tystar 2019</p>
</footer>

{% endblock %}
