{% extends 'base.html' %}

{% block headers %}
  <meta name="google-site-verification" content="j3CelnesDRzU1CTGGWHkXvsBb-PaXa2y1tWnyfXJ6R4" />
  <title>Homepage</title>
{% endblock %}

{% block content %}
  <main role="main">
    <div>
      <h1>People, books, sites, podcasts I love, listen to, follow, admire, learn from.</h1>
        <ul>
            {% for resource in resources %}
                <li><a href="{{ resource.url }}" style="text-decoration: none;" target="_blank">{{ resource.name }}</a></li>
                {% if resource.description %}
                <ul>
                  <li>{{ resource.description }}</li>
                </ul>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
  </main>
{% endblock %}
