{% load static %}

{% load hosts %}

{% block main_sidebar %}

 <header onclick="nav_display()" id="nav" class="hide-nav" role="banner">
    <div class="header-logo">
        <a href="/"><img src="{% static 'images/me_photo.png' %}" width="60" height="60" alt="my photo"></a>
    </div>
    <h1 class="site-title">
      <a href="/"><img src="{% static 'images/me_photo.png' %}" /></a>{{ name }} {{ surname }}
      <span class="toggle"></span>
    </h1>
    <p class="tag-line">Me, myself & python.</p>
    <ul class="nav-links">
        <li><a href="{% host_url 'homepage' host 'www' %}">Home</a></li>
        <li><a href="{% host_url 'about' host 'www' %}">About me</a></li>
        <li><a href="{% host_url 'index' host 'blog' %}">PyBlog</a></li>
    </ul>
</header>

{% endblock %}
